# dependencies（依赖相关）
/node_modules
/.pnp
.pnp.js

# testing（测试相关）
/coverage

# next.js（Next.js 构建相关）
/.next/
/out/

# production（生产环境构建）
/build

# misc（杂项）
.DS_Store
*.pem

# debug（调试日志）
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files（本地环境变量）
.env*.local

# vercel（Vercel 部署相关）
.vercel

# typescript（TypeScript 相关）
*.tsbuildinfo
next-env.d.ts